<h1>Albums</h1>
<hr/>

  <% @album.each do |album| %>
 <div>
        <strong> Name : <%= album.name %></strong>
        <%= link_to 'Show', album_path(album) %>
        <%= link_to 'Edit', edit_album_path(album) %>
        <%= link_to 'Destroy', album_path(album),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>

 </div>
    <br/>
  <% end %>


<%= link_to 'New album', new_album_path %>
