<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <h1>Albums</h1>
      <hr/>
      <% @album.each do |album| %>
          <strong>Name: </strong><%= album.name %>
          <%= link_to 'Show', album_path(album), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Edit', edit_album_path(album),  class: "btn btn-primary btn-sm" %>
            <%= link_to 'Destroy', album_path(album),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },  class: "btn btn-primary btn-sm" %>
          <br/>
      <% end %>
      <div class="pull-right">
        <%= link_to 'New album', new_album_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>
