<!DOCTYPE html>
<html>
<head>
  <title>Gallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div>
  <% if user_signed_in?%>
    <span style="float: right">
     <%= link_to "Sing Out", destroy_user_session_path, :method => :delete %>
    </span>
  <% end %>
</div>

<%= yield %>

</body>
</html>
